---
---
@import 'variables'

footer
  margin-bottom: 10px

.facebook
  background-color: #3B5998
  color: #fff

.twitter
  background-color: #4099FF
  color: #fff

.facebook:hover, .twitter:hover
  filter: brightness(70%)
  color: #fff