h3 {
    margin-top: 10px;
}
hr {
	margin-top: 7px;
	margin-bottom: 7px;
	border-top: 1px solid #ddd;
}
.author {
   color: #292f34;
}
.score {
	color: #738491;
	font-weight: 700;
}
.time {
	color: #98abba;
}
.placecomment {
	float: right;
}
.comments {
	display: inline;
}
.facebook {
	background-color: #3B5998;
	color: #fff;
}
.twitter {
	background-color: #4099FF;
	color: #fff;
}
.panel-body  {
    word-break:break-all
}
.facebook:hover {
	filter: brightness(70%);
	color: #fff;
}
.twitter:hover {
	filter: brightness(70%);
	color: #fff;
}
.check {
	color: #5cb85c;
	font-weight: bold;
}
.gild {
	color: #FFD700;
}
.archive {
	color: #A8A8A8;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}