---
---
@import 'variables'

body
  padding-top: 50px

.promises-header__close
  margin-top: -30px

.promises__search-row
  margin-bottom: 15px

.promises__category-row
  margin-bottom: 15px

.promise__status
  text-align: center
