---
layout: page
comments: false
---

{% assign tabs = site.data.data.tabs %}
{% assign promises = site.data.data.promises %}

<div class="container promises-header">
    <div class="row search-results" style="display:none">
        <div class="col-md-12">
            <ul class="list-group" id="search-results"></ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% include scoreboard.html %}
        </div>
        <div class="col-md-6">
            <img src="https://placekitten.com/640/480" class="img-responsive center-block" alt="Donald Trump standing on a podium."/>
        </div>
    </div>
</div>

<div class="container promises">
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Header</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for promise in promises %}
                        <tr class="promise">
                            <td>
                                <div class="promise__title">{{ promise.title }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid promises">
    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                {% for tab in tabs %}
                <li role="presentation" class="{{tab.id}} {% if forloop.index == 1 %}active{% endif %}">
                    <a href="#{{tab.id}}" aria-controls="{{tab.id}}" role="tab" data-toggle="tab">
                        <i class="fa fa-{{tab.icon}}"></i> {{tab.name}}
                    </a>
                </li>
                {% endfor %}
            </ul>

        </div> <!-- .col-md-12 -->

        <div class="col-md-12">

            <!-- Tab panes -->
            <div class="tab-content">
                {% for tab in tabs %}
                <div role="tabpanel" class="tab-pane {% if forloop.index == 1 %}active{% endif %} fade in" id="{{tab.id}}">
                    <div class="row">
                        <div class="input-group">
                            <div class="input-group-addon"><span>Search </span>
                            </div>
                            <input type="text" placeholder="keyword" class="form-control search"/>
                        </div>
                        {% for section in tab.sections %}
                        <table class="table">
                            <thead>
                            <tr>
                                <td></td>
                                <th>
                                    <a href="{{section.link}}">{{section.header}}</a>
                                </th>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for point in section.points %}
                            <tr class="{% if point.status == 'broken' %}danger{% endif %} {% if point.status == 'achieved' %}success{% endif %}">
                                <th>{{forloop.index}}</th>
                                <td>{{point.text}}</td>
                                <td>
                                    {% if point.comments %}
                                    <a href="{{point.comments}}" target="_blank" rel="nofollow">Comment</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div> <!-- /.tab-content -->

        </div> <!-- /.col-12 -->
    </div> <!-- /.row -->
</div> <!-- /.promises -->
