---
layout: page
---

{% assign promises = site.data.data.promises %}
{% assign icons = site.data.data.icons %}
{% assign statuses = site.data.data.statuses %}
{% assign total = promises | size %}

{% assign categories = promises | map: 'category' | uniq %}

<div class="container promises-header page-header" id="promises-header">
    <div class="row">

        <div class="col-md-6">
            <ul class="list-group">
                <!-- <li class="list-group-item list-group-item inauguration-time-container">
                    <i class="fa fa-home fa-fw"></i>
                    <b id="inauguration-time">Days Till Inauguration: <span id="inauguration-days"><i class='loading'>Loading...</i></span></b>
                </li> -->
                <li class="list-group-item list-group-item">
                    <i class="fa fa-calendar fa-fw"></i>
                    <b>Days In Office: <span id="days-in-office"><i class='loading'>Loading...</i></span></b>
                </li>

                {% for status in statuses %}
                    {% assign status_name = status[0] %}
                    {% assign status_data = status[1] %}
                    <li class="list-group-item list-group-item-{{ status_data['color'] }}" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" data-select-single="true">
                        <i class="fa fa-fw fa-{{ status_data['icon'] }} "></i>
                        {{ status_name }}: <span class="active-points">{{ promises | where: "status",status_name | size }}</span> of <span class="total-points">{{ total }}</span>
                    </li>
                {% endfor %}

            </ul>

        </div>

        <div class="container-fluid">
            <p>On Tuesday November 8th, 2016, Donald John Trump won the electoral vote and is currently the 45th President of the United States of America.</p>
            <p>He made <b>a lot of promises</b>. Trump Tracker will fact-check and see if he adheres to all of his stands on policies regarding culture, immigration, economy, and many more.</p>
            <div id="share-buttons" class="text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/sharer.php?u=https://trumptracker.github.io/" target="_blank"
                           style="color:#3b5998;">
                            <i class="fa fa-2x fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url=https://trumptracker.github.io/" target="_blank"
                           style="color:#dd4b39;">
                            <i class="fa fa-2x fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?url=https://trumptracker.github.io/&amp;text=Track&nbsp;&commat;realDonaldTrump&apos;s&nbsp;Electoral&nbsp;Promises&nbsp;with&nbsp;Trump&nbsp;Tracker.&amp;hashtags=TrumpTracker&amp;via=VirenMohindra"
                           target="_blank" style="color:#1da1f2;">
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://reddit.com/r/trumptracker" target="_blank" style="color:#ff5700;">
                            <i class="fa fa-2x fa-reddit"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://luithollander.nl/trumptracker/rss.php" target="_blank" style="color:#ffa500;">
                            <i class="fa fa-2x fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>            
         </div>
        </div>
    </div>

<div class="container-fluid promises" id="promises">
    <div class="row promises__search-row">
        <div class="col-md-5">
            <form action="#" class="form-inline">
                <input id="search" type="text" class="form-control search" placeholder="Search">
                <button class="promises__category--reset btn btn-default">
                    <i class="fa fa-fw fa-refresh"></i> Clear
                    <i class="fa fa-fw fa-filter"></i><span id="count">{{ total }}</span>/{{ total }}
                </button>
            </form>
            <br>
        </div>
        <div class="col-md-7" id="center-on-mobile">
            <div class="pull-right">

                <div class="promises__statuses">
                    {% for status in statuses %}
                        {% assign status_name = status[0] %}
                        {% assign status_data = status[1] %}

                        <button class="btn btn-{{ status_data['color'] }}" data-list-facet="js-promise-status" data-facet-value="{{ status_name }}" data-select-single="true">
                            <i class="fa fa-{{ status_data['icon'] }} fa-fw" aria-hidden="true"></i>
                            <span class="remove-on-mobile">{{ status_name }}</span>
                        </button>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs" id="myTabs" role="tablist" >
            {% for category in categories %}
                <li role="presentation" data-list-facet="js-promise-category" data-facet-value="{{ category }}" class="{{ category }}">
                    <a href="#" role="tab" data-toggle="tab" class="text-muted">
                        <i class="fa fa-fw fa-{{ icons[category] }}"></i>&nbsp;
                        <span class="remove-on-mobile">{{ category }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- <div class="row promises__category-row">
        <div class="col-md-12">

            <div class="promises__categories">

                {% for category in categories %}
                <button class="promises__category btn btn-default" data-list-facet="js-promise-category" data-facet-value="{{ category }}">
                    <i class="fa fa-fw fa-{{ icons[category] }}"></i> {{ category }}
                </button>
                {% endfor %}

            </div>

        </div>
    </div> -->
    <!-- /.promises__category-row -->

    <div class="row promises__table container-fluid">
                <table class="table">

                    <thead>
                    <tr>
                        <th><!-- ID --></th>
                        <!--<th>Status</th>-->
                        <!--<th>Category</th>-->
                        <!-- <th>Tags</th> -->
                        <th>Promise</th>
                        <!-- <th>Sources</th> -->
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody class="list">
                    <!-- add color to each policy -->
                    {% for promise in promises %}
                    <tr class="promise {% if promise.status == 'In progress' %}warning{% endif %}{% if promise.status == 'Achieved' %}success{% endif %}{% if promise.status == 'Broken' %}danger{% endif %}{% if promise.status == 'Compromised' %}compromised{% endif %}">
                        <td class="promise__id">{{ forloop.index }}.</td>

                        <!--
                         <td class="promise__status" title="{{ promise.status }}">
                            <i class="fa fa-fw fa-{{ statuses[promise.status]['icon'] }} text-{{ statuses[promise.status]['color'] }}" title="{{ promise.status }}"></i>
                            <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                        </td>
                        -->
                        <!--
                        <td class="promise__category" style="white-space: nowrap;">
                            <i class="fa fa-fw fa-{{ icons[promise.category] }}"></i> <span class="js-promise-category">{{ promise.category }}</span>
                        </td>
                        -->
                        <!-- <td class="promise__tags" style="text-align: center;">
                            {% for tag in promise.tags %}
                            <a class="label label-default">{{ tag }}</a>
                            {% endfor %}
                        </td> -->
                        <td class="promise__title js-promise-text">
                        <b><span class="js-promise-category">{{ promise.category }}</span>:</b>
                        <span class="promise__status-text js-promise-status sr-only">{{ promise.status }}</span>
                        {{ promise.title }}
                        <!-- add superscript citations and sources -->
                        {% for source in promise.sources %}
                            <sup><a href="{{ source }}">{{ forloop.index }}</a></sup>
                        {% endfor %}
                        </td>
                        <!-- <td class="promise__sources" style="white-space: nowrap;">
                        </td> -->
                        <td class="promise__actions">
                            <!-- comment and twitter integration -->
                            <a href="{{ site.url }}{{ promise.url | replace: 'https://trumptracker.github.io', '' }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
</div>
<!-- /#promises -->
