<ul class="list-group">
    <li class="list-group-item list-group-item inauguration-time-container">
        <i class="fa fa-home fa-fw"></i>
        <b id="inauguration-time">
            Days Till Inauguration:
            <span id="inauguration-days"></span>
        </b>
    </li>
    <li class="list-group-item list-group-item">
        <i class="fa fa-calendar fa-fw"></i>
        <b>Days In Office:
            <span id="days-in-office"></span>
        </b>
    </li>
    <li class="list-group-item list-group-item-info">
        <i class="fa fa-hourglass-start fa-fw"></i>
        Not Yet Started: <span id="points-not-started"></span> of <span class="total-points"></span>
    </li>
    <li class="list-group-item list-group-item-warning">
        <i class="fa fa-cogs fa-fw"></i>
        In Progress:
        <span id="points-in-progress"></span> of <span class="total-points"></span>
    </li>
    <li class="list-group-item list-group-item-success">
        <i class="fa fa-check-circle-o fa-fw"></i>
        Achieved: <span id="points-achieved"></span> of <span class="total-points"> </span></li>
    <li class="list-group-item list-group-item-danger">
        <i class="fa fa-ban fa-fw"></i>
        Broken: <span id="points-broken"></span> of <span class="total-points"></span>
    </li>
</ul>
<p>On Tuesday November 8th, 2016, Donald John Trump won the electoral vote and
    is currently standing to be the President-elect of the United States of
    America.</p>
<p>He made <b>a lot of promises</b>. Trump Tracker will fact-check and see if he
    adheres to all of his stands on policies regarding culture, immigration,
    economy, and many more.</p>
<div class="">
    <!-- I got these buttons from simplesharebuttons.com -->
    <div id="share-buttons">
        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u=https://trumptracker.github.io/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook"/>
        </a>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=https://trumptracker.github.io/" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google"/>
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/share?url=https://trumptracker.github.io/&amp;text=Track&nbsp;&commat;realDonaldTrump&apos;s&nbsp;Electoral&nbsp;Promises&nbsp;with&nbsp;Trump&nbsp;Tracker.&amp;hashtags=TrumpTracker&amp;via=VirenMohindra" target="_blank">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter"/>
        </a>
    </div>
</div>
