---
permalink: /:basename/
redirecturl: Redirect URL Placeholder. Do not put anything here except for the raw string without quotes. Example; https://trumptracker.github.io/about/
---
<!-- This file was created by Rakefile at {{ time }} to prevent users from getting 404 errors and to redirect them to the correct file. DO NOT DELETE THIS FILE! -->

<script>
if(document.location.href.indexOf("?reddit") !== -1) {
	document.location = "{{ page.redirecturl }}?reddit";
}
</script>

<meta http-equiv="refresh" content="0; url={{ page.redirecturl }}">
<link rel="canonical" href="{{ page.redirecturl }}" />